@{
    ViewData["Title"] = "Service";
}
<header>
  <article class="bg-warning d-flex  justify-content-around" style="height:10vh;"> 
      <section  class =" d-flex  align-items-center" style="gap:1.5rem;" >
            <div class='d-flex ' style="gap:0.5rem;">
                    <p><i class="fa-solid fa-location-dot fa-xs"></i></p>
                    <small>Raghavendrapuram Srirangam ,Try</small>
            </div>
            <div class='d-flex' style="gap:0.5rem;">
                    <p><i class="fa-regular fa-envelope fa-xs"></i></p>
                    <p>sanjayram1424@gmail.com</p>
            </div>
            <div class='d-flex' style="gap:0.5rem;">
                    <p><i class="fa-light fa-phone fa-xs"></i></p>
                    <p>+91 77084 07173</p>
            </div>           
      </section>
      <section class='d-flex align-items-center' style="gap:1.5rem;">
            <div>
                 <i class="fa-brands fa-facebook fa-xs"></i>
            </div>
            <div>
                <i class="fa-brands fa-square-instagram fa-xs"></i>
            </div>

            <div>
                <i class="fa-brands fa-linkedin fa-xs"></i>
            </div>
            <div>
               <i class="fa-brands fa-youtube fa-xs"></i>
            </div>
            <div>
                 <i class="fa-brands fa-x-twitter fa-xs"></i>
            </div>
       </section>
</article>
  <section>
  <div>
        <img src="~/logo/download.png" alt="Italian Trulli" width="50px" height=50px>
        <h1>Rb Pets Shop</h1>
  </div>
  <div>
     <nav>
       <a href="">Visit W3Schools.com!</a>
       <a href="">Visit W3Schools.com!</a>
       <a href="">Visit W3Schools.com!</a>
       <a href="">Visit W3Schools.com!</a>

<article>
</header>