<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvc_new</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/Shop_login.css" asp-append-version="true" />
</head>
<body>
 @* <header  class="pb-2 border-bottom border-dark ">
  <article class="bg-warning d-flex  justify-content-around" style="height:7vh;"> 
      <section  class =" d-flex  align-items-center align-self-baseline mt-2 me-5" style="gap:1rem;" >
            <div class='d-flex ' style="gap:0.5rem;">
                    <p><i class="fa-solid fa-location-dot fa-s"></i></p>
                    <small>Raghavendrapuram Srirangam ,Trichy</small>
            </div>
            <div class='d-flex' style="gap:0.5rem;">
                    <p><i class="fa-solid fa-envelope"></i></p>
                    <p>sanjayram1424@gmail.com</p>
            </div>
            <div class='d-flex' style="gap:0.5rem;">
                    <p><i class="fa-solid fa-phone"></i></p>
                    <p>+91 77084 07173</p>
            </div>           
      </section>
      <section class='d-flex align-items-center align-self-baseline' style="gap:1.5rem;">
            <div>
               <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div>
             <i class="fa-brands fa-instagram"></i>
            </div>

            <div>
              <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div>
               <i class="fa-brands fa-youtube fa-s"></i>
            </div>
            <div>
                 <i class="fa-brands fa-x-twitter fa-s"></i>
            </div>
       </section>
</article>
<article class="d-flex justify-content-around  ">
    <section class="d-flex pt-2 " style="height:10vh;">
        <div  class="d-flex "  >
              <img src="~/logo/download.png" alt="Italian Trulli" width="50px" height=50px>
               <h3 class="pt-2">Rb Pets Shop</h3>
        </div>
    </section>
    <section>
      <nav class="nav align-items-baseline pt-3">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Product</a>
            <a class=" nav-link text-dark"   asp-area="" asp-controller="Home" asp-action="Index"   role="button" data-bs-toggle="dropdown" aria-expanded="false">Service</a>

               <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">SPA</a></li>
                    <li><a class="dropdown-item" href="#">BATH</a></li>
                    <li><a class="dropdown-item" href="#">TRANING</a></li>
                </ul>
          
         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Pets For Sale</a>
           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="login">Login</a>
           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="signin">Signin</a> *@
           @* <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Service
    </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                </div> *@
                 @* <nav class="navbar">
                <a class="navbar-brand" href="">Home</a>
                <a  class="navbar-brand"  href="">About</a>
                 <a class="navbar-brand" href="">Product</a>
                <a  class="navbar-brand"  href="">Service</a>
                 <a  class="navbar-brand"  href="">Gallery</a>
                  <a  class="navbar-brand"  href="">Contact</a>
                   <a  class="navbar-brand"  href="">Pets For Sale</a>

                
             
        </nav> *@
           
           


            
        @* </nav>
       
      
  

    </section>
</article>
</header> *@

           <div>
            @RenderBody()
            </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - mvc_new - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
